.gradle/**
generator/classes/**
.idea/
build/**
reportgeneratortool/**
coveragereport/**

web_specs/generated/**
bin/

**/openapitools.json

# Generated libraries packages
generator_python/package/dist/
generator_python/package/src/hubsante_model.egg-info/
generator_ruby/gem/hubsante_model-*.gem
