.gradle/**
generator/classes/**
.idea/
.vscode/
build/**
reportgeneratortool/**
coveragereport/**

bin/

# À versionner pour suivre la version d'OpenAPI utilisé pour la génération
# **/openapitools.json

# Generated libraries packages
# Python
generator_python/package/pyproject.toml
generator_python/package/README.md
generator_python/package/dist/
generator_python/package/src/hubsante_model.egg-info/
# Ruby
generator_ruby/gem/hubsante_model.gemspec
generator_ruby/gem/lib/hubsanteModel/hubsante_model.rb
generator_ruby/gem/hubsante_model-*.gem
