{{ define "usecase.generator-config" }}{
  "inputSpec": "../generator/input/{{.schema}}.openapi.yaml",
  "outputDir": "package/src/",
  "generatorName": "php-symfony",
  "globalProperties": {
    "models": "{{.rootElement}}",
    "apis": false,
    "apiTests": false,
    "apiDocs": false,
    "modelDocs": false,
    "modelTests": false
  },
  "additionalProperties": {
    "invokerPackage": "Hubsante",
    "modelPackage": "Model\\{{.package}}",
    "packageName": "hubsante_model.{{ .package }}",
    "srcBasePath": "src/",
    "composerVendorName": "hubsante",
    "composerProjectName": "model-sdk",
    "variableNamingConvention": "camelCase",
    "useStrictTypes": true,
    "useEnumCaseInsensitive": false,
    "phpVersion": "8.3",
    "legacyDiscriminatorBehavior": false,
    "generateModelTests": false,
    "generateModelDocumentation": false,
    "withInterfaces": true,
    "withAbstractClasses": false,
    "allowUnicodeIdentifiers": true
  }
}
{{ end }}
{{- range (datasource "config").schemas }}
    {{ if eq .automaticGeneration "Y" }}
        {{- tmpl.Exec "usecase.generator-config" . | file.Write (printf "output/generator_php-symfony/config/generated/%s/%s.usecase.generator-config.json" .schema .schema) }}
    {{end}}
{{end}}
