# VDR : .gitignore to avoid commit of generated output from parser
out/others

*.ipynb
*.png
*.gv
*.dot
__pycache__

# cron logs
cron.log

json_schema2xsd/.gradle/
json_schema2xsd/build/

# ignoring files moved by workflow.py to avoid them been commited locally
out/**/*.schema.json
out/**/*.openapi.yaml

# virtual env
env/
.venv/