openapi: 3.0.0
components:
  schemas:
    resourcesRequestWrapper:
      type: object
      required:
      - resourcesRequest
      properties:
        resourcesRequest:
          $ref: '#/components/schemas/resourcesRequest'
    resourcesRequest:
      $id: classpath:/json-schema/schema#
      x-id: RS-DR.schema.json#
      example: example.json#
      type: object
      title: resourcesRequest
      required:
      - caseId
      - request
      properties:
        caseId:
          type: string
          title: Identifiant affaire/dossier
          x-health-only: false
          x-cols: 6
          example: example.json#/caseId
          description: "A valoriser avec l'identifiant partag\xE9 de l'affaire/dossier,\
            \ g\xE9n\xE9r\xE9 une seule fois par le syst\xE8me du partenaire qui recoit\
            \ la primo-demande de secours (cr\xE9ateur du dossier). \nIl est valoris\xE9\
            \ comme suit lors de sa cr\xE9ation : \n{pays}.{domaine}.{organisation}.{senderCaseId}\n\
            \nIl doit pouvoir \xEAtre g\xE9n\xE9r\xE9 de fa\xE7on d\xE9centralis\xE9\
            e et ne pr\xE9senter aucune ambigu\xEFt\xE9.\n Il doit \xEAtre unique\
            \ dans l'ensemble des syst\xE8mes : le num\xE9ro de dossier fourni par\
            \ celui qui g\xE9n\xE8re l'identifiant partag\xE9 doit donc \xEAtre un\
            \ num\xE9ro unique dans son syst\xE8me."
          pattern: ^([a-zA-Z0-9_-]+\.?){4,10}$
          examples:
          - fr.health.samu440.DRFR15440241550012
        request:
          $ref: '#/components/schemas/request'
        status:
          type: string
          title: Etat annulation
          x-health-only: false
          x-cols: 6
          example: example.json#/status
          description: "A valoriser avec l'\xE9tat d'annulation de la demande le cas\
            \ \xE9ch\xE9ant"
          enum:
          - ANNULEE
          examples:
          - ANNULEE
      additionalProperties: false
    request:
      type: object
      title: Demande de ressource
      x-display: expansion-panels
      x-health-only: false
      required:
      - requestId
      - datetime
      - purpose
      properties:
        requestId:
          type: string
          title: "ID Demande partag\xE9"
          x-health-only: false
          x-cols: 6
          example: example.json#/request/requestId
          description: "Identifiant unique partag\xE9 de la demande de ressource,\
            \  g\xE9n\xE9r\xE9 une seule fois par le syst\xE8me du partenaire qui\
            \ \xE9met la demande \nIl est valoris\xE9 comme suit lors de sa cr\xE9\
            ation : \n{orgID}.request.{ID unique de la demande dans le syst\xE8me\
            \ \xE9metteur}\n\nOU - uniquement si un ID unique de la demande n'est\
            \ pas disponible : \n{OrgId \xE9metteur}.request.{senderCaseId}.{num\xE9\
            ro d\u2019ordre chronologique}"
          pattern: ^([a-zA-Z0-9_-]+\.){3,8}request(\.[a-zA-Z0-9_-]+){1,2}$
          examples:
          - 'fr.health.samu770.request.1249875

            fr.health.samu690.request.DRFR15690242370035.3'
        datetime:
          type: string
          title: "Date Heure de cr\xE9ation de la demande"
          x-health-only: false
          x-cols: 6
          example: example.json#/request/datetime
          description: "A valoriser avec le groupe date heure de cr\xE9ation de la\
            \ demande"
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}[\-+]\d{2}:\d{2}$
          format: date-time
          examples:
          - '2022-09-27T08:23:34+02:00'
        convention:
          type: string
          title: Cadre conventionnel
          x-health-only: false
          x-cols: 6
          example: example.json#/request/convention
          description: "A valoriser avec le cadre conventionnel de la demande. Cf\
            \ nomenclature associ\xE9e"
          enum:
          - DRSIS
          - MISSION
          - ITSP
          - CARENCE
          - CONVENT
          - SPE
          - HORS
          - AUTRE1
          - AUTRE2
          - AUTRE3
          examples:
          - HORS
        purpose:
          type: string
          title: "Effet \xE0 obtenir"
          x-health-only: false
          x-cols: 6
          example: example.json#/request/purpose
          description: "A valoriser avec le motif de la demande de ressource aupr\xE8\
            s du partenaire. Cf Nomenclature associ\xE9e."
          enum:
          - SAP
          - REGUL
          - CUMP
          - SMUR
          - MG
          - PARAMED
          - SAMU
          - RELEVE
          - NOVI
          - TIH
          - BRANCARD
          - BARIA
          examples:
          - SMUR
        deadline:
          type: string
          title: "D\xE9lai d'intervention"
          x-health-only: false
          x-cols: 6
          example: example.json#/request/deadline
          description: "A valoriser avec le d\xE9lai d'intervention maximum souhait\xE9\
            \ (cf. nomenclature associ\xE9e)"
          enum:
          - DEL0
          - ASAP
          - 30M
          - 45M
          - 1H
          - 2H
          - 4H
          - 8H
          - 12H
          - 24H
          - RDV
          examples:
          - 10
        freetext:
          type: string
          title: "Pr\xE9cisions sur la demande"
          x-health-only: false
          x-cols: 6
          example: example.json#/request/freetext
          description: "Texte libre permettant de d\xE9tailler la demande"
          examples:
          - "Pr\xE9voir un kit p\xE9diatrique"
      additionalProperties: false
      example: example.json#/request
      examples:
      - requestId: 'fr.health.samu770.request.1249875

          fr.health.samu690.request.DRFR15690242370035.3'
        datetime: '2022-09-27T08:23:34+02:00'
        convention: HORS
        purpose: SMUR
        deadline: 10
        freetext: "Pr\xE9voir un kit p\xE9diatrique"
