openapi: 3.0.0
components:
  schemas:
    resourcesEngagementWrapper:
      type: object
      required:
      - resourcesEngagement
      properties:
        resourcesEngagement:
          $ref: '#/components/schemas/resourcesEngagement'
    resourcesEngagement:
      $id: classpath:/json-schema/schema#
      x-id: RS-ER.schema.json#
      example: example.json#
      type: object
      title: resourcesEngagement
      required:
      - caseId
      - resource
      properties:
        caseId:
          type: string
          title: Identifiant affaire/dossier
          x-health-only: false
          x-cols: 6
          example: example.json#/caseId
          description: "A valoriser avec l'identifiant partag\xE9 de l'affaire/dossier,\
            \ g\xE9n\xE9r\xE9 une seule fois par le syst\xE8me du partenaire qui recoit\
            \ la primo-demande de secours (cr\xE9ateur du dossier). \nIl est valoris\xE9\
            \ comme suit lors de sa cr\xE9ation : \n{pays}.{domaine}.{organisation}.{senderCaseId}\n\
            \nIl doit pouvoir \xEAtre g\xE9n\xE9r\xE9 de fa\xE7on d\xE9centralis\xE9\
            e et ne pr\xE9senter aucune ambigu\xEFt\xE9.\n Il doit \xEAtre unique\
            \ dans l'ensemble des syst\xE8mes : le num\xE9ro de dossier fourni par\
            \ celui qui g\xE9n\xE8re l'identifiant partag\xE9 doit donc \xEAtre un\
            \ num\xE9ro unique dans son syst\xE8me."
          pattern: ^([a-zA-Z0-9_-]+\.?){4,10}$
          examples:
          - fr.health.samu440.DRFR15440241550012
        resource:
          type: array
          items:
            $ref: '#/components/schemas/resource'
          minItems: 1
      additionalProperties: false
    resource:
      type: object
      title: Ressource
      x-display: expansion-panels
      x-health-only: false
      required:
      - vehicleType
      properties:
        vehicleType:
          type: string
          title: Type de vecteur
          x-health-only: false
          x-cols: 6
          example: example.json#/resource/0/vehicleType
          description: "A valoriser avec le type de vecteur mobilis\xE9 : cf. nomenclature\
            \ associ\xE9e"
          enum:
          - AASC
          - AASC.VLSC
          - AASC.VPSP
          - AASC.AUTRESC
          - AUTREVEC
          - AUTREVEC.APIED
          - AUTREVEC.AVION
          - AUTREVEC.PERSO
          - AUTREVEC.TAXI
          - AUTREVEC.TRAIN
          - AUTREVEC.TRANSP
          - AUTREVEC.AUTRE
          - AUTREVEC.AUTRETRA
          - FSI
          - FSI.HELIFSI
          - FSI.VLFSI
          - FSI.FFSI
          - FSI.VHFSI
          - LIB
          - LIB.MEDV
          - LIB.INF
          - LIB.AUTREPRO
          - SIS
          - SIS.DRAGON
          - SIS.AVSC
          - SIS.FEUSIS
          - SIS.GRIMP
          - SIS.NAVISIS
          - SIS.PCSIS
          - SIS.SRSIS
          - SIS.VCH
          - SIS.VLCG
          - SIS.VLISP
          - SIS.VLMSP
          - SIS.VLSIS
          - SIS.VPL
          - SIS.VPMA
          - SIS.VR
          - SIS.VSAV
          - SIS.MOYSSE
          - SIS.AUTRESIS
          - SMUR
          - SMUR.VLM
          - SMUR.VL
          - SMUR.PSM1
          - SMUR.PSM2
          - SMUR.PSM3
          - SMUR.PSMP
          - SMUR.VPC
          - SMUR.AR
          - SMUR.AR-BAR
          - SMUR.AR-PED
          - SMUR.HELISMUR
          - SMUR.HELISAN
          - SMUR.AVSMUR
          - SMUR.AVSAN
          - SMUR.NAVISMUR
          - TSU
          - TSU.VSL
          - TSU.AMB-GV
          - TSU.AMB-PV
          - TSU.AMB-BAR
          - TSU.AMB
          examples:
          - VLM
        name:
          type: string
          title: Nom du vecteur
          x-health-only: false
          x-cols: 6
          example: example.json#/resource/0/name
          description: "A valoriser avec le nom donn\xE9 \xE0 la ressource par l\u2019\
            organisation d\u2019appartenance"
          examples:
          - SMUR 123
        team:
          $ref: '#/components/schemas/team'
        freetext:
          type: array
          x-health-only: false
          items:
            type: string
            title: Commentaires
            x-health-only: false
            x-cols: 6
            example: example.json#/resource/0/freetext/0
            description: "Texte libre permettant de passer toute autre information\
              \ sur la ressource (\xE9quipements suppl\xE9mentaires / sp\xE9cifiques,\
              \ particularit\xE9s du vecteur, etc.)"
            examples:
            - "SMUR p\xE9diatrique"
      additionalProperties: false
      example: example.json#/resource/0
    team:
      type: object
      title: Equipe vecteur
      x-display: expansion-panels
      x-health-only: false
      required: []
      properties:
        medicalLevel:
          type: string
          title: Type
          x-health-only: false
          x-cols: 6
          example: example.json#/resource/0/team/medicalLevel
          description: "A valoriser avec le  niveau de m\xE9dicalisation du vecteur.\
            \ Cf. nomenclature associ\xE9e"
          enum:
          - MED
          - PARAMED
          - SECOURS
          - SANS
          examples:
          - MED
        name:
          type: string
          title: Nom
          x-health-only: false
          x-cols: 6
          example: example.json#/resource/0/team/name
          description: "A valoriser avec le nom de l'\xE9quipe \xE0 bord du vecteur\
            \ (celui communiqu\xE9 par l'organisation \xE0 laquelle l'\xE9quipe appartient)"
          examples:
          - Equipe A
      additionalProperties: false
      example: example.json#/resource/0/team
      examples:
      - medicalLevel: MED
        name: Equipe A
