openapi: 3.0.0
components:
  schemas:
    resourcesResponseWrapper:
      type: object
      required:
      - resourcesResponse
      properties:
        resourcesResponse:
          $ref: '#/components/schemas/resourcesResponse'
    resourcesResponse:
      $id: classpath:/json-schema/schema#
      x-id: RS-RR.schema.json#
      example: example.json#
      type: object
      title: resourcesResponse
      required:
      - caseId
      - requestId
      - response
      properties:
        caseId:
          type: string
          title: Identifiant affaire/dossier
          x-health-only: false
          x-cols: 6
          example: example.json#/caseId
          description: "A valoriser avec l'identifiant partag\xE9 de l'affaire/dossier,\
            \ g\xE9n\xE9r\xE9 une seule fois par le syst\xE8me du partenaire qui recoit\
            \ la primo-demande de secours (cr\xE9ateur du dossier). \nIl est valoris\xE9\
            \ comme suit lors de sa cr\xE9ation : \n{pays}.{domaine}.{organisation}.{senderCaseId}\n\
            \nIl doit pouvoir \xEAtre g\xE9n\xE9r\xE9 de fa\xE7on d\xE9centralis\xE9\
            e et ne pr\xE9senter aucune ambigu\xEFt\xE9.\n Il doit \xEAtre unique\
            \ dans l'ensemble des syst\xE8mes : le num\xE9ro de dossier fourni par\
            \ celui qui g\xE9n\xE8re l'identifiant partag\xE9 doit donc \xEAtre un\
            \ num\xE9ro unique dans son syst\xE8me."
          pattern: ^([a-zA-Z0-9_-]+\.?){4,10}$
          examples:
          - fr.health.samu440.DRFR15440241550012
        requestId:
          type: string
          title: "ID Demande partag\xE9"
          x-health-only: false
          x-cols: 6
          example: example.json#/requestId
          description: "A valoriser avec l'identifiant unique partag\xE9 de la demande\
            \ de ressource,  g\xE9n\xE9r\xE9 une seule fois par le syst\xE8me du partenaire\
            \ qui \xE9met la demande \nIl est valoris\xE9 comme suit lors de sa cr\xE9\
            ation : \n{orgID}.request.{ID unique de la demande dans le syst\xE8me\
            \ \xE9metteur}\n\nOU - uniquement si un ID unique de la demande n'est\
            \ pas disponible : \nOrgId \xE9metteur}.request.{senderCaseId}.{num\xE9\
            ro d\u2019ordre chronologique}"
          pattern: ^([a-zA-Z0-9_-]+\.){3,8}request(\.[a-zA-Z0-9_-]+){1,2}$
          examples:
          - 'fr.health.samu770.request.1249875

            fr.health.samu690.request.DRFR15690242370035.3'
        response:
          $ref: '#/components/schemas/response'
      additionalProperties: false
    response:
      type: object
      title: "R\xE9ponse \xE0 la demande de ressources"
      x-display: expansion-panels
      x-health-only: false
      required:
      - datetime
      - answer
      properties:
        datetime:
          type: string
          title: "Date Heure de r\xE9ponse"
          x-health-only: false
          x-cols: 6
          example: example.json#/response/datetime
          description: "Groupe date heure de d\xE9but de la demande"
          pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}[\-+]\d{2}:\d{2}$
          format: date-time
          examples:
          - '2022-09-27T08:23:34+02:00'
        answer:
          type: string
          title: "R\xE9ponse"
          x-health-only: false
          x-cols: 6
          example: example.json#/response/answer
          description: "A valoriser avec la r\xE9ponse apport\xE9e. Cf Nomenclature\
            \ associ\xE9e\nACCEPTEE, REFUSEE, PARTIELLE, DIFFEREE"
          enum:
          - ACCEPTEE
          - PARTIELLE
          - REFUSEE
          - DIFFEREE
          examples:
          - ACCEPTEE
        deadline:
          type: string
          title: "D\xE9lai d'intervention"
          x-health-only: false
          x-cols: 6
          example: example.json#/response/deadline
          description: "A valoriser avec le d\xE9lai de r\xE9ponse auquel s'engage\
            \ l'exp\xE9diteur (cf. nomenclature) \nCas particulier : en cas de r\xE9\
            ponse \"Partielle\" car le d\xE9lai souhait\xE9 ne peut pas \xEAtre respect\xE9\
            ,  \xE0 valoriser obligatoirement avec le d\xE9lai de r\xE9ponse maximum\
            \ auquel s'engage l'exp\xE9diteur de la r\xE9ponse,\n"
          enum:
          - DEL0
          - ASAP
          - 30M
          - 45M
          - 1H
          - 2H
          - 4H
          - 8H
          - 12H
          - 24H
          - RDV
          examples:
          - 10
        freetext:
          type: string
          title: "Pr\xE9cisions sur la r\xE9ponse"
          x-health-only: false
          x-cols: 6
          example: example.json#/response/freetext
          description: "Commentaire libre permettant d'apporter toutes pr\xE9cisions\
            \ utiles \xE0 la r\xE9ponse. Le motif de refus est notifi\xE9 dans ce\
            \ champ."
          examples:
          - SMUR 1 non dispo
      additionalProperties: false
      example: example.json#/response
      examples:
      - datetime: '2022-09-27T08:23:34+02:00'
        answer: ACCEPTEE
        deadline: 10
        freetext: SMUR 1 non dispo
