{{ define "wrapper.generator-config" }}{
  "inputSpec": "./input/{{.schema}}.openapi.yaml",
  "outputDir": "classes/",
  "generatorName": "java",
  "templateDir": "templates/wrapper/",
  "globalProperties": {
    "models": "{{.rootElement}}Wrapper",
    "apis": false,
    "apiTests": false,
    "apiDocs": false,
    "modelDocs": false,
    "modelTests": false
  },
  "additionalProperties": {
    "library": "native",
    "modelPackage": "com.hubsante.model.{{.package}}",
    "serializationLibrary": "jackson",
    "openApiNullable": true,
    "supportUrlQuery": false,
    "xmlns": "{{if .xmlns}}{{.xmlns}}{{end}}{{if not .xmlns}}cisu:3.0:{{.rootElement}}{{end}}",
    "enablePostProcessFile": true{{ if .customExtendPackage}},
    "customExtend": {
      "package": "{{ .customExtendPackage }}",
      "className": "{{ .customExtendClass }}"
    }{{ end }}
  }
}
{{ end }}
{{- range (datasource "config").schemas }}
    {{ if eq .automaticGeneration "Y" }}
        {{- tmpl.Exec "wrapper.generator-config" . | file.Write (printf "output/generator/config/auto/%s/%s.wrapper.generator-config.json" .schema .schema) }}
    {{end}}
{{end}}
